/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* Google Icon */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

:root {
    /* Dark Colors */
    --main-color: #4169E1;
    --dark-mode: #0E0C10;
    --dark-grey-mode: #1C1D24;
    --semidark-grey-mode: #25262E;
    --light-grey-mode: #eee;
    --grey-mode: #E0E0E0;

    /* Colors */
    --main-color: #4169E1;
    --secundary-color: ;
    --dark-color: #1E1E1E;
    --dark-grey: #333333;
    --semidark-grey: #5f5f5f;
    --grey: #E0E0E0;
    --light-grey: #eee;
    --white: #fff;

    /* Social Media Colors */
    --github: #1E1E1E;
    --linkedin: #0A66C2;
    --dribbble: #F26C9B;

    /* Shadow */
    --box_shadow-primary: 0px 4px 32px -10px #1E1E1E;
}

/* Dark Mode */
/*general style*/
body.dark {
    background-color: var(--dark-mode);
}
body.dark .header {
    background-color: var(--dark-mode);
}
body.dark .box {
    background-color: var(--dark-grey-mode);
}
body.dark .header ul li a {
    color: var(--light-grey-mode);
}
body.dark .text-white {
    color: var(--light-grey-mode);
}
body.dark .text-grey {
    color: var(--grey-mode);
}
/*header*/
.header .links .btn__navS {
    display: none;
}
body.dark .profile_imgMenu img {
    border: 4px solid var(--dark-mode);
}
body.dark .header .logo img:hover {
    filter: brightness(100%);
}
body.dark .tooltip-works ul li {
    background-color: rgba(14, 12, 16, 0.8);
    backdrop-filter: blur(10px);
}
body.dark .tooltip-works ul li:hover{
    background-color: var(--main-color);
}
body.dark .header .btn__nav:hover {
    background-color: var(--light-grey-mode);
    color: var(--dark-mode);
}
body.dark .btn__navS:hover {
    background-color: var(--light-grey-mode);
}
body.dark .btn__navS:hover ion-icon {
    filter: invert(100%);
}
body.dark .btn__profile:hover {
    background-color: var(--light-grey-mode);
    color: var(--dark-mode);
}
body.dark .header__about a:hover  {
    background-color: var(--main-color);
}
/*profile*/
body.dark .bg-profile {
    background-image: none;
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}
/*medias*/
body.dark .contact-btnMedias ul li:nth-child(1):hover {
    background-color: var(--semidark-grey);
}
body.dark .btn-medias ul li:hover {
    background-color: var(--light-grey-mode);
}
body.dark .btn-medias ul li:hover img {
    filter: invert(100%);
}
/*skills*/
body.dark .tecnoSkills::before {
    background: linear-gradient(
        90deg,
        #1C1D24,
        #e0e0e000
    );
}
body.dark .tecnoSkills::after {
    background: linear-gradient(
        -90deg,
        #1C1D24,
        #e0e0e000
    );
}
body.dark .tecnoSkills li {
    background-color: var(--semidark-grey-mode);
}
body.dark .tecnoSkills ul li:hover {
    background-color: var(--light-grey-mode);
}
body.dark .tecnoSkills ul li:hover img {
    filter: brightness(50%);
}
body.dark .tecnoSkills ul li img {
    filter: brightness(400%);
}
/*about-text*/
body.dark .btn_footerAbout a:first-child:hover {
    background-color: var(--dark-mode);
}
body.dark .btn_footerAbout a:last-child:hover {
    background-color: var(--dark-mode);
}
body.dark .btn_footerAbout a:last-child {
    background-color: var(--semidark-grey-mode);
}
body.dark .box_textAbout .text-about {
    color: var(--grey-mode);
    background-color: var(--semidark-grey-mode);
}
/*contact*/
body.dark .contact {
    background-image: none;
}
body.dark .btnContact {
    background-color: var(--white);
    color: var(--dark-mode);
}
body.dark .btnContact:hover {
    color: var(--white);
}


/* General Styles */

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px dashed #ff000059;*/
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
}

body {
    background-color: var(--white);
    transition: .3s ease all;
}

body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

body, button, input, textarea {
    font-family: "Montserrat", sans-serif;
}

li {list-style: none;}

a {
    text-decoration: none;
    color: inherit;
}

.text {
    font-size: 1.5em;
    color: var(--dark-grey);
    font-weight: 500;
}

/* Recycle Code */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    border-radius: 0 0 30px 30px;
    transition: 500ms;
}

.header.header_mod {
    box-shadow: 4px 0px 32px -5px rgba(0, 0, 0, 0.3);
}

.header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .logo img {
    width: 200px;
    transition: 500ms;
}
.header .logo img:hover {
    filter: brightness(-100%);
}


.header .logo-sm {
    display: none;
}

.header .logo-sm img {
    width: 41px;
}

.header nav {
    display: flex;
    align-items: center;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    padding: 10px 20px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    transition: 500ms;
}

.header ul li:hover {
    background-color: var(--main-color);
}

.header ul li:hover a {
    color: var(--white);
}

.header ul li span {
    color: var(--main-color);
    cursor: pointer;
    transition: 500ms;
}

.header ul li:hover span {
    rotate: -90deg;
    color: var(--white);
}

.header ul li a {
    position: relative;
    font-weight: 500;
    color: var(--dark-color);
    transition: 300ms;
}

.header ul li a:before:hover {
    width: 0%;
}

.header ul li:nth-child(3) a:hover:after {
    width: 0%;
}

.header ul li:nth-child(3) {
    position: relative;
}

.header ul li:nth-child(3):hover .tooltip-works {
    display: block;
}

.tooltip-works:hover {
    display: block;
}

.tooltip-works {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 10px 0px;
    white-space: nowrap;
    transition: 500ms;
}

.tooltip-works img {
    border-radius: 10px;
    margin-right: 10px;
}

.tooltip-works ul {
    flex-direction: column;
    gap: 10px;
}

.tooltip-works ul li {
    font-size: 1em;
    background-color: var(--white);
    box-shadow: var(--box_shadow-primary)
}

.tooltip-works #work-1 {
    color: var(--main-color);
}

.tooltip-works ul li:hover #work-1 {
    color: var(--white);
}

.header .btn__navGroup {
    display: flex;
    align-items: center;
}

.header .btn__nav {
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 30px;
    white-space: nowrap;
    transition: 500ms;
    cursor: pointer;
}

.header .btn__nav:hover {
    background-color: var(--dark-color);
    box-shadow: var(--box_shadow-primary);
}

.header .btn__navS {
    display: grid;
    place-content: center;
    background-color: var(--main-color);
    color: var(--white);
    border: none;
    border-radius: 2rem;
    font-size: 1.5em;
    font-weight: 500;
    padding: 10px 15px;
    white-space: nowrap;
    transition: 500ms;
    cursor: pointer;
    margin-left: 10px;
}
.header .btn__navS ion-icon {
    transition: 300ms;
}
.header .btn__navS:hover ion-icon {
    rotate: 45deg;
}

.header .btn__navS:hover {
    background-color: var(--dark-color);
    box-shadow: var(--box_shadow-primary)
}

.btn__navS .sun {
    display: none;
}
.btn__navS.active .moon{
    display: none;
}
.btn__navS.active .sun{
    display: flex;
}

.header .btn__toggle {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 2.5rem;
    height: 3rem;
    border: none;
    background: transparent;
    gap: .65rem;
    z-index: 100;
}

.header .btn__toggle > div {
    background-color: var(--main-color);
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all 500ms;
    transform-origin: left;
}

.header .btn__toggle.active div:first-child {
    transform: rotate(45deg);
}

.header .btn__toggle.active div:nth-child(2) {
    opacity: 0;
}

.header .btn__toggle.active div:last-child {
    transform: rotate(-45deg);
}

.menu {
    display: none;
}

.menu__profile {
    text-align: center;
}

.profile_imgMenu {
    display: grid;
    place-content: center;
    position: relative;
    top: -15px;
}

.profile_imgMenu img {
    width: 100px;
    border-radius: 50%;
    border: 4px solid var(--white);
}

.menu__profile h3 {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 700;
}

.menu__profile p {
    font-size: 1.1em;
    font-weight: 500;
    color: var(--white);
}

.menu__medias {
    margin-top: 20px;
}

.menu__medias img {
    width: 30px;
    transition: 500ms;
    filter: brightness(-100%);
}

.menu__medias ul li a:hover img {
    scale: 1.1;
    filter: brightness(100%);
}

.menu__medias ul li a:hover {
    background-color: var(--box_shadow-primary);
}

.menu__medias ul li a {
    background-color: var(--white);
    border-radius: 50%;
    padding: 10px;
    display: grid;
    place-content: center;
}

.menu__section ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.menu__section ul li {
    padding: 15px;
}

.menu__section ul li a {
    font-size: 1.3em;
    color: var(--white);
}

.menu__section ul li a:hover {
    color: var(--dark-color);
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

/* Home */

.home {
    padding-top: 100px;
    padding-bottom: 100px;
}

.grid__home {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 450px 450px;
    gap: 15px;
    grid-template-areas: 
        "profile profile profile profile-img profile-img medias"
        "proyects proyects proyects proyects about about"
        "proyects proyects proyects proyects about about"
        "portfolio portfolio portfolio portfolio portfolio portfolio"
        "portfolio portfolio portfolio portfolio portfolio portfolio"
        "skills skills skills skills skills skills"
        "skills skills skills skills skills skills"
        "about-img about-img about-more about-more about-more about-more"
        "about-img about-img about-more about-more about-more about-more"
        "contact contact contact contact contact contact"
        "contact contact contact contact contact contact"
}

/* Grid Profile */

.grid__profile {
    grid-area: profile;
    position: relative;
    padding: 40px 30px;
    border-radius: 20px;
    transition: 500ms;
    overflow: hidden;
}

.grid__profile:hover .bg-profile {
    scale: 1.5;
    rotate: 10deg;
}

.bg-profile {
    background-image: url('../images/background/background.webp');
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: -1;
    transition: 300ms;
}
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content__profile {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top__profile h1 {
    font-size: 3em;
    margin-top: 20px;
    color: var(--dark-color);
}

.top__profile h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.bottom__profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn__profile {
    background-color: var(--main-color);
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    border-radius: 32px;
    padding: 15px 30px;
    height: 100%;
    display: grid;
    place-content: center;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    transition: 500ms;
}
.btn__profile ion-icon {
    padding-left: 15px;
    rotate: -45deg;
    transition: 500ms;
}
.btn__profile:hover ion-icon {
    padding-left: 20px;
    rotate: 0deg;
}
.btn__profile:hover {
    background-color: var(--dark-color);
    box-shadow: var(--box_shadow-primary);
    letter-spacing: 1px;
    text-shadow: 0px 0px 32px var(--white);
}


/* Grid Medias */

.grid__medias {
    grid-area: medias;
    background-color: var(--light-grey);
    border-radius: 20px;
}

.btn-medias {
    height: 100%;
}

.btn-medias ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn-medias ul li {
    background-color: var(--main-color);
    border-radius: 50%;
    transition: 500ms;
}

.btn-medias ul li:hover {
    background-color: var(--dark-color);
}
.btn-medias ul li:hover img {
    scale: 1.1;
    rotate: -15deg;
}
.btn-medias ul li:nth-child(2):hover img {
    scale: 1.1;
    rotate: 15deg;
}

.btn-medias ul li a {
    display: grid;
    place-content: center;
    padding: 20px;
}

.btn-medias ul li a img {
    width: 40px;
    transition: 500ms;
}

/* Img Profile */

.img__profile {
    grid-area: profile-img;
    border-radius: 20px;
    background-color: var(--main-color);
    background-image: url('../images/profile/retrato.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

/* Grid Proyects */

.grid__proyects {
    grid-area: proyects;
    border-radius: 20px;
    position: relative;
    padding: 40px 30px;
    transition: 500ms;
    overflow: hidden;
}

.header__proyects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__proyects h1 {
    font-weight: 600;
    font-size: 2.2em;
    color: var(--white);
    position: relative;
    z-index: 10;
}

.place-arrow {
    border-radius: 0 20px;
    width: 75px;
    height: 75px;
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.arrow-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: 300ms;
}
.arrow-btn:hover{
    background-color: var(--dark-color);
}

.arrow-btn:hover img {
    rotate: 0deg;
    filter: invert(100%);
}

.arrow-btn img {
    width: 35px;
    rotate: -45deg;
    transition: 300ms;
}

.img-gridProyects {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    transition: 500ms;
    background-color: var(--main-color);
    background-image: url('../images/grid-proyects');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid__proyects:hover .img-gridProyects {
    transform: scale(1.1);
}

/* Grid About */

.grid__about {
    grid-area: about;
    border-radius: 20px;
    padding: 40px 30px;
    background-color: var(--light-grey);
    position: relative;
}

.grid__about p {
    text-wrap: pretty;
    margin-top: 30px;
    font-size: 1.5em;
    color: var(--dark-grey);
    font-weight: 500;
    transition: 500ms;
    cursor: pointer;
}

.grid__about p:hover {
    color: var(--semidark-grey);
}

.header__about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__about h1 {
    font-weight: 600;
    font-size: 2.2em;
    color: var(--dark-color);
}

.header__about a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8em;
    color: var(--dark-grey);
    cursor: pointer;
}

.header__about a:hover img {
    rotate: 0deg;
    scale: 1.1;
}

.header__about img {
    width: 35px;
    rotate: -45deg;
    transition: 300ms;
}

/* About */

.about__text {
    grid-area: about-more;
    background-color: var(--light-grey);
    border-radius: 20px;
    padding: 40px 30px;
}

.header_aboutText h1 {
    font-weight: 600;
    font-size: 2.2em;
    color: var(--dark-color);
}

.box_textAbout {
    margin-top: 30px;
    width: 90%;
}
.box_textAbout .text-about {
    font-weight: 500;
    font-size: 1.1em;
    color: var(--dark-grey);
    background-color: var(--grey);
    padding: 16px;
    border-radius: 32px;
    margin-top: 10px;
    cursor: pointer;
    transition: 500ms;
}
.box_textAbout .text-about:hover {
    transform: translateX(10px);
}

.btn_footerAbout {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.btn_footerAbout a {
    padding: 12px 30px;
    background-color: var(--main-color);
    border-radius: 32px;
    color: var(--white);
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 500ms;
    text-wrap: nowrap;
}
.btn_footerAbout a ion-icon {
    padding-left: 8px;
    font-size: 1.5em;
    transition: 200ms;
}
.btn_footerAbout a:hover:first-child ion-icon {
    scale: 1.1;
}
.btn_footerAbout a:first-child:hover{
    background-color: var(--dark-color);
    box-shadow: var(--box_shadow-primary);
}

.btn_footerAbout a:last-child {
    background-color: var(--dark-color);
}
.btn_footerAbout a:last-child:hover{
    background-color: var(--dark-color);
    box-shadow: var(--box_shadow-primary);
    text-shadow: 0px 0px 16px var(--white);
}
.btn_footerAbout a:last-child ion-icon {
    font-size: 1.2em;
}
.btn_footerAbout a:last-child:hover ion-icon {
    rotate: 0deg;
}

.about__img {
    grid-area: about-img;
}

.about__img .img-boxAbout {
    background-image: url('../images/profile/perfil.jpg');
    background-color: var(--main-color);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 32px;
    height: 100%;
}

/* Portfolio Proyects */

.portfolio {
    grid-area: portfolio;
    border-radius: 20px;
    position: relative;
    padding: 40px 30px;
    transition: 500ms;
    overflow: hidden;
    background-color: var(--light-grey);
}

.header__portfolio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__portfolio h1 {
    font-weight: 600;
    font-size: 2.2em;
    color: var(--dark-color);
}

.proyects_portfolio {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.proyect {
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
}
.proyect .img {
    background-image: url('../images/grid-proyects/proyect1.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 120px;
    transition: 500ms;
}
.proyect:last-child .img {
    background-image: url('../images/grid-proyects/proyect2.png');
}
.proyect .img:hover {
    scale: 1.1;
}

.proyect footer {
    background-color: var(--main-color);
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.proyect footer a {
    color: var(--white);
    font-size: 1.5em;
    font-weight: 400;
    transition: 300ms;
}
.proyect footer a span {
    font-size: 1.1em;
    rotate: -45deg;
    transition: 300ms;
}
.proyect footer a:hover {
    letter-spacing: 1px;
}
.proyect footer a:hover span {
    rotate: 0deg;
}

.proyect .tecnologies {
}
.proyect .tecnologies ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.proyect .tecnologies ul li {
    background-color: var(--white);
    padding: 5px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: 300ms;
}
.proyect .tecnologies ul li:hover {
    background-color: var(--dark-color);
}
.proyect .tecnologies ul li:hover img {
    filter: brightness(1000%);
}
.proyect .tecnologies ul li img {
    width: 35px;
    transition: 300ms;
}
.material-symbols-outlined.link-proyect {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* Skills */

.skills {
    grid-area: skills;
    border-radius: 20px;
    position: relative;
    padding: 40px 30px;
    transition: 500ms;
    overflow: hidden;
    background-color: var(--light-grey);
}

.header__skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__skills h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2.2em;
    color: var(--dark-color);
}

.tecnoSkills {
    height: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.tecnoSkills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background: linear-gradient(
        90deg,
        #eee,
        #e0e0e000
    );
    z-index: 5;
}
.tecnoSkills::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2%;
    height: 100%;
    background: linear-gradient(
        -90deg,
        #eee,
        #e0e0e000
    );
    z-index: 5;
}
.tecnoSkills ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: calc(100px * 18);
    animation: slider-skills 30s linear infinite;
}
@keyframes slider-skills {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-100px * 9))
    }
}
.tecnoSkills li {
    display: grid;
    place-content: center;
    background-color: var(--white);
    padding: 10px;
    width: 100px;
    border-radius: 50%;
    transition: 200ms;
}
.tecnoSkills ul li:hover {
    background-color: var(--dark-color);
}
.tecnoSkills ul li:hover img {
    filter: brightness(1000%);
}
.tecnoSkills ul li img {
    width: 70px;
    transition: 200ms;
}

/* Contact */

.contact {
    grid-area: contact;
    border-radius: 20px;
    position: relative;
    padding: 40px 30px;
    transition: 500ms;
    overflow: hidden;
    background-image: url('../images/background/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__contact .heading {
    display: flex;
    align-items: center;
}
.heading img {
    width: 60px;
    padding-left: 10px;
}
.heading h1 {
    color: var(--dark-color);
    font-size: 2.6em;
    font-weight: 700;
}
.header__contact a {
    color: var(--dark-grey);
    display: inline-block;
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 800ms;
}
.header__contact a:hover {
    color: var(--main-color);
    text-decoration: underline;
}

.contact-btnGroup {
    margin-top: 100px;
    display: flex;
    gap: 15px;
}
.contact-btnMedias {
    display: flex;
}
.contact-btnMedias ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.contact-btnMedias ul li {
    background-color: var(--white);
    border-radius: 50%;
    transition: 500ms;
}
.contact-btnMedias ul li:hover {
    background-color: var(--dark-color);
}
.contact-btnMedias ul li:hover img {
    scale: 1.1;
    rotate: -15deg;
}

/*hover contact*/
.contact-btnMedias ul li:nth-child(1):hover img {
    filter: invert(0);
}
.contact-btnMedias ul li:nth-child(2):hover img {
    filter: invert(0);
    rotate: 0deg;
}
.contact-btnMedias ul li:nth-child(3):hover img {
    filter: invert(0);
    rotate: 15deg;
}
.contact-btnMedias ul li:nth-child(1):hover {
    background-color: var(--github);
}
.contact-btnMedias ul li:nth-child(2):hover {
    background-color: var(--linkedin);
}
.contact-btnMedias ul li:nth-child(3):hover {
    background-color: var(--dribbble);
}

.contact-btnMedias ul li a {
    display: grid;
    place-content: center;
    padding: 10px;
}
.contact-btnMedias ul li a img {
    width: 35px;
    transition: 500ms;
    filter: invert(100%);
}
.btnContact {
    background-color: var(--dark-color);
    color: var(--white);
    font-size: 1.5em;
    font-weight: 500;
    border: none;
    border-radius: 32px;
    padding: 15px 30px;
    height: 100%;
    display: grid;
    place-content: center;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    transition: 200ms;
}
.btnContact:first-child:hover {
    background: linear-gradient(90deg, #ffb30b, #3a86ff, #86d6a0, #ffb30b);
    background-size: 400%;
}
.btnContact:last-child:hover {
    background: linear-gradient(90deg, #ef233c, #f5ce62, #b8c0ff, #ef233c);
    background-size: 400%;
}
.btnContact:first-child::before,
.btnContact:last-child::before {
    content: "";
    position: absolute;
    background: inherit;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5;
}
.btnContact:first-child:hover::before,
.btnContact:last-child:hover::before {
    opacity: 1;
    z-index: -1;
}
.btnContact:hover {
    z-index: 1;
    animation: btncontact 8s linear infinite;
}
@keyframes btncontact {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer span {
    color: var(--semidark-grey);
}
.footer a {
    padding-bottom: 1px;
    border-bottom: 1px solid var(--semidark-grey);
    transition: 500ms;
}
.footer a:hover {
    color: var(--dark-color);
}




/* Media Queries */

@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    .header .links .btn__navS {
        display: flex;
    }
    .header .btn__navGroup {
        display: none;
    }
    .btn-medias ul {
        flex-direction: row;
    }
    .content__proyects {
        flex-direction: column;
    }
    .content__proyects .content {
        width: 100%;
    }
    .proyect footer a {
        font-size: 1.3em;
    }
    .proyect .tecnologies ul li img {
        width: 30px;
    }
    .grid__home {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 300px 150px 250px 200px 1fr 1fr 1fr;
    }
    .grid__profile {
        grid-row: 1/3;
        grid-column: 1/4;
    }
    .img__profile {
        grid-row: 1/2;
        grid-column: 4/-1;
    }
    .grid__medias {
        grid-row: 2/3;
        grid-column: 4/-1;
    }
    .grid__proyects {
        grid-row: 3/5;
        grid-column: 1/5;
    }
    .grid__about {
        grid-row: 3/5;
        grid-column: 5/-1;
    }
    .portfolio {
        grid-row: 5/7;
        grid-column: 1/-1;
    }
    .skills {
        grid-row: 7/8;
        grid-column: 1/-1;
    }
    .about__img{
        grid-row: 8/9;
        grid-column: 1/4;
    }
    .about__text {
        grid-row: 8/9;
        grid-column: 4/-1;
    }
}

@media (max-width: 992px) {
    .top__profile h1 {
        font-size: 2.9em;
    }
    .top__profile h3 {
        font-size: 25px;
    }
    .header__proyects h1 {
        font-size: 2em;
    }
    .header__about h1 {
        font-size: 2em;
    }
    .grid__about p {
        font-size: 1.4em;
    }
    .img-gridProyects {
        background-image: url('../images/grid-proyects/proyects-gif-mobile.gif');
    }
    .proyect footer a {
        font-size: 1.2em;
    }
    .proyect footer a:hover {
        letter-spacing: 1px;
    }
    .box_textAbout {
        width: 100%;
    }
    .box_textAbout .text-about {
        padding: 20px;
        max-width: 320px;
    }

}

@media (max-width: 860px) {
    .header .btn__toggle {
        display: flex;
        cursor: pointer;
    }
    .header .links {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 100px;
        right: -1000px;
        height: 100vh;
        width: 100%;
        background-color: var(--main-color);
        transition: 500ms;
    }
    .menu.active {
        transform: translateX(-1000px);
    }
    .btn__profile {
        font-size: 1.4em;
    }
    .img__profile {
        background-position: center center;
    }
    .proyect .tecnologies ul li img {
        width: 25px;
    }
    .header_aboutText {
        text-align: left;
    }
    .box_textAbout {
        width: 100%;
        text-align: left;
    }
    .box_textAbout .text-about {
        max-width: none;
    }
    .btn_footerAbout a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .heading h1 {
        color: var(--dark-color);
        font-size: 2.3em;
        font-weight: 700;
    }
    .btnContact {
        font-size: 1.4em;
    }
    .grid__home {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 300px 450px 150px 600px 300px 1fr 1fr 300px 1fr;
    }
    .img__profile {
        grid-row: 1/2;
        grid-column: 1/-1;
    }
    .grid__profile {
        grid-row: 2/3;
        grid-column: 1/-1;
    }
    .grid__medias {
        grid-row: 3/4;
        grid-column: 1/-1;
    }
    .grid__proyects {
        grid-row: 4/5;
        grid-column: 1/-1;
    }
    .grid__about {
        grid-row: 5/6;
        grid-column: 1/-1;
    }
    .portfolio {
        grid-row: 6/8;
        grid-column: 1/-1;
    }
    .skills {
        grid-row: 8/9;
        grid-column: 1/-1;
    }
    .about__img{
        grid-row: 9/10;
        grid-column: 1/-1;
    }
    .about__text {
        grid-row: 10/12;
        grid-column: 1/-1;
    }
    .contact {
        grid-row: 12/13;
        grid-column: 1/-1;
    }
}

@media (max-width: 798px) {
    .header .logo {
        display: none;
    }
    .header .logo-sm {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid__profile .content__profile {
        text-align: center;
    }
    .btn__profile {
        width: 100%;
        margin-top: 10px;
        font-size: 1.5em;
    }
    .btn__profile:hover {
        letter-spacing: 2px;
    }
    .btn-medias ul li a {
        padding: 20px;
    }
    .btn-medias ul li a img {
        width: 40px;
    }
    .header__proyects a {
        font-size: 1.5em;
    }
    .header__proyects img {
        width: 30px;
    }
    .top__profile h1 {
        font-size: 3em;
    }
    .top__profile h3 {
        font-size: 2em;
    }
    .proyects_portfolio {
        flex-direction: column;
    }
    .proyect {
        width: 100%;
    }
    .tecnoSkills ul {
        animation: slider-skills 20s linear infinite;
    }
    .tecnoSkills li {
        padding: 15px;
        width: 120px;
    }
    .tecnoSkills ul li img {
        width: 60px;
        transition: 200ms;
    }
    @keyframes slider-skills {
        0% {
            transform: translateX(0)
        }
        100% {
            transform: translateX(calc(-120px * 9))
        }
    }
    .heading h1 {
        color: var(--dark-color);
        font-size: 2em;
        font-weight: 700;
    }
    .heading img {
        width: 55px;
    }
    .header__contact a {
        font-size: 1.1em;
    }
    .btnContact {
        font-size: 1.2em;
    }
}

@media (max-width: 490px) {
    .top__profile h1 {
        font-size: 2.2em;
    }
    .top__profile h3 {
        font-size: 23px;
    }
    .img__profile {
        background-size: cover;
    }
    .btn__profile {
        font-size: 19px;
    }
    .grid__about p {
        font-size: 18px;
    }
    .btn-medias ul li a {
        padding: 15px;
    }
    .btn-medias ul li a img {
        width: 30px;
    }
    .btn_footerAbout {
        flex-direction: column;
    }
    .proyect footer {
        flex-direction: column;
    }
    .proyect footer .tecnologies {
        margin-top: 10px;
    }
    .proyect footer a {
        font-size: 1.3em;
        text-align: center;
    }
    .proyect .tecnologies ul li img {
        width: 30px;
    }
    .proyect .img {
        background-image: url('../images/grid-proyects/proyect1.png');
        background-size: cover;
        background-position: left;
    }
    .tecnoSkills ul {
        animation: slider-skills 10s linear infinite;
    }
    .tecnoSkills ul li img {
        width: 50px;
        transition: 200ms;
    }
    .header__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading h1 {
        text-align: center;
        font-size: 2em;
    }
    .heading img {
        display: none;
    }
    .contact-btnGroup {
        flex-direction: column;
    }
    .contact-btnMedias ul {
        width: 100%;
    }
    .contact-btnMedias ul li a {
        padding: 20px;
    }
    .contact-btnMedias ul li a img {
        width: 40px;
    }
    .btnContact {
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    .header__proyects {
        justify-content: center;
    }
    .btn__profile {
        font-size: 16px;
    }
    .header__about {
        justify-content: center;
    }
    .header__proyects .place-arrow {
        display: none;
    }
    .header__about .place-arrow {
        display: none;
    }
    .proyect footer a {
        font-size: 1em;
        text-align: center;
    }
    .proyect .tecnologies ul li img {
        width: 25px;
    }
    .header__contact a {
        font-size: .9em;
    }
    .contact-btnMedias ul li a {
        padding: 15px;
    }
    .contact-btnMedias ul li a img {
        width: 30px;
    }
}

@media (max-height: 700px) {
    .menu__profile h3 {
        font-size: 1.3em;
    }
    .menu__profile p {
        font-size: .9em;
    }
    .menu__medias {
        margin-top: 5px;
    }
    .menu__medias img {
        width: 25px;
    }
    .menu__section ul {
        margin-top: 0px;
    }
    .menu__section ul li {
        padding: 10px 0;
    }
    .menu__section ul li a {
        font-size: 1.1em;
    }
}
